version: "3"
services:

  redis_pubsub:
    build: .
    image: allocation-image
    depends_on:
      - postgres
      - redis
    environment:
      - DB_HOST=postgres
      - DB_PASSWORD=abc123
      - API_HOST=api
      - REDIS_HOST=redis
      - PYTHONDONTWRITEBYTECODE=1
    volumes:
      - ./:/code
    entrypoint: 
      - python
      - /code/src/allocation/entrypoints/redis_event_consumer.py
  
  api:
    image: allocation-image
    depends_on:
      - redis_pubsub
    command: 
      - /bin/sh
      - -c
      - |
        flask run --host=0.0.0.0 --port=5000
        tail -F dev/null
    environment:
      - DB_HOST=postgres
      - DB_PASSWORD=abc123
      - API_HOST=api
      - REDIS_HOST=redis
      - FLASK_APP=src/allocation/entrypoints/flask_app.py
      - FLASK_DEBUG=1
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONUNBUFFERED=1
    volumes:
      - ./:/code
    ports:
      - "5000:5000"

  postgres:
    image: postgres:13.3
    environment:
      - POSTGRES_USER=allocation
      - POSTGRES_PASSWORD=abc123
    ports:
      - "5432:5432"
  
  redis:
    image: redis:6.2
    ports:
      - "6379:6379"